<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/settings :: settings-fragment}"/>
    <title>Register</title>
</head>
<body>
<th:block th:insert="~{fragments/header :: header-fragment}"/>
<div class="form-container">
    <form th:action="@{/register-form}" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="name" placeholder="Name" required>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
