<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/settings :: settings-fragment}"/>
    <title>Todos</title>
</head>
<body>
    <th:block th:insert="~{fragments/header :: header-fragment}"/>
    
<div class="form-container">
    <form th:action="@{/add-todos-form}" method="post">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="description" placeholder="Description" required></textarea>
        <input type="checkbox" name="completed" id="completed">
        <label for="completed">Completed</label>
        <select name="userId" id="userId" required>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
        </select>
        <select name="categoryId" id="categoryId" required>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
        <select name="tagId" id="tagId" required>
            <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>

<h2>Todos List</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Completed</th>
        <th>User</th>
        <th>Category</th>
        <th>Tag</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.completed}"></td>
        <td th:text="${todo.user.username}"></td>
        <td th:text="${todo.category.name}"></td>
        <td th:text="${todo.tag.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>