<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/settings :: settings-fragment}"/>
    <title>Users</title>
</head>
<body>
<th:block th:insert="~{fragments/header :: header-fragment}"/>


<h2>Users List</h2>
<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><input type="text" th:value="${user.username}" readonly/></td>
        <td><input type="email" th:value="${user.email}" readonly/></td>
        <td th:text="${user.role}"></td>

        <form th:action="@{/user-update-redirect-form}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}">
            <td>
                <button type="submit">
                    Update
                </button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>