<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/settings :: settings-fragment}"/>
    <title>User Update</title>
</head>
<body>
<th:block th:insert="~{fragments/header :: header-fragment}"/>
<div id="form-container">
    <form th:action="@{/rest/user-update-form}" method="post">
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="text" name="username" placeholder="Username" th:value="${user.username}">
        <input type="email" name="email" placeholder="Email" th:value="${user.email}">
        <input type="text" name="name" placeholder="Name" th:value="${user.name}">
        <select name="role" id="role">
            <option th:each="roleConst : ${T(com.example.todolist.entities.enums.Role).values()}"
                    th:value="${roleConst.name()}"
                    th:utext="${roleConst.name()}"
                    th:selected="${roleConst==user.role}"></option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
<script type="text/javascript" src="js/user-update/user-update.js"></script>
</body>
</html>