<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/settings :: settings-fragment}"/>
    <title>Users</title>
</head>
<body>
<th:block th:insert="~{fragments/header :: header-fragment}"/>


<div class="form-container">
    <form th:action="@{/add-users-form}" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="name" placeholder="Name" required>
        <select name="role" id="role">
            <option th:each="roleConst : ${T(com.example.todolist.entities.enums.Role).values()}"
                    th:value="${roleConst.name()}"
                    th:utext="${roleConst.name()}"></option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>

<h2>Users List</h2>
<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><input type="text" th:value="${user.username}" readonly/></td>
        <td><input type="email" th:value="${user.email}" readonly/></td>
        <td th:text="${user.role}"></td>

        <form th:action="@{/user-update-redirect-form}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}">
            <td>
                <button type="submit">
                    Update
                </button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>